@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --text: #202224;

    --primary: #4880ff;
    --primary-foreground: #ffffff;

    --secondary: #f5f6fa;
    --secondary-foreground: #ffffff;

    --error: #ff849f;
    --error-foreground: #ffffff;

    --warning: #ffbb84;
    --warning-foreground: #ffffff;

    --success: #97ffa2;
    --success-foreground: #193154;

    --accent: #67c8ca;
    --accent-foreground: #193154;

    --info: #26486d;
    --info-foreground: #193154;
  }
}
